* {
    float: none;
    position: static;
}

body{
    width: 100%;
    background: #ff9966;
    background: #ff9966;
}

.titleA{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.img{
    width: 80%;
}

.container{
    width: 80%;
    margin: 8px auto;
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    position: relative;
}

#question {
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.red {
    color: #ff0000;
}

#commentary{
    text-align: center;
    color: #000080;
    font-size: 30px;
}

#answerDisplay{
    margin-right: 37px;
    text-align: center;
    color: #008080;
    font-size: 30px;
}

#buttonAll{
    text-align: center;
}

.btn{
    background-color: #00ccff;
    color: #ffffff;
    width: 500px;
    height: 50px;
    margin-top:5px;
    font-size: 30px;
    cursor: pointer;
}

.btn:focus{
    background-color: #ff0000;
    color: #ffffff;
}

.operationBtn{
    text-align: center;
}

#answer{
    width: 250px;
    height: 50px;
    font-size: 30px;
    background-color: #ff6600;
    color: #ffffff;
    cursor: pointer;
}
#answer.noClick {
    background: #ccc;
}

#next{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    font-size: 30px;
    background-color: #0000ff;
    color: #ffffff;
    cursor: pointer;
}

#next.disabled {
    background: #ccc;
}

#result > a {
    background: #3498db;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#result {
    position: absolute;
    width: 500px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    transition: 0.4s;
    font-size: 40px;
}

#result.hidden {
    transform: translateY(-700px);
}

#result > p {
    font-size: 40px;
}

#result > a {
    display: block;
    text-decoration: none;
}

@media screen and (min-width:1000px){
    .titleA{
        font-size: 20px;
    }

    .img{
        width: 400px;
    }

    .container{
        width: 600px;
    }

    #question {
        font-size: 20px;
    }

    #commentary{
        font-size: 20px;
    }

    #answerDisplay{
        font-size: 20px;
    }

    .btn{
        width: 400px;
        height: 40px;
        margin-top:5px;
        font-size: 20px;
    }

    #answer{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    #next{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    #result {
        width: 300px;
        font-size: 20px;
    }

    #result > p {
        font-size: 20px;
    }
}